@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

body{
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Specifies that the background image will be fixed against the containing block and will not scroll.*/
    color: black;
}

label{
    font-size: 16px;
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

#iw-container {
	margin-bottom: 10px;
}
#iw-container .iw-title {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
	font-weight: 400;
	padding: 10px;
	background-color: #48b5e9;
	color: white;
	margin: 0;
	border-radius: 2px 2px 0 0;
}
#iw-container .iw-content {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	margin-right: 1px;
	padding: 15px 5px 20px 15px;
	max-height: 140px;
	overflow-y: auto;
	overflow-x: hidden;
}

.iw-subTitle {
	font-size: 16px;
	font-weight: 700;
	padding: 5px 0;
}

.btnlocation{
    background-color: red;
}

.btnlocation:before{ /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f041"; /* add facebook icon */
}

.btnphone{
    background-color: limegreen;
}

.btnphone:before{ /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f095"; /* add facebook icon */
}

.btnemail{
    background-color: dodgerblue;
}

.btnemail:before{ /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f0e0"; /* add facebook icon */
}

footer{
    color:grey;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.smGlobalBtn{ /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 2px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 25px;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
}


.facebookBtn{
    background: #4060A5;
}

.facebookBtn:before{ /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a"; /* add facebook icon */
}

.facebookBtn:hover{
    color: #4060A5;
    background: #fff;
}

/* twitter button class*/
.twitterBtn{
    background: #00ABE3;
}

.twitterBtn:before{
      font-family: "FontAwesome";
      content: "\f099"; /* add twitter icon */
}

.twitterBtn:hover{
      color: #00ABE3;
      background: #fff;
}

/* google plus button class*/
.googleplusBtn{
    background: #e64522;
}

.googleplusBtn:before{
      font-family: "FontAwesome";
      content: "\f0d5"; /* add googleplus icon */
}

.googleplusBtn:hover{
      color: #e64522;
      background: #fff;
}

/* linkedin button class*/
.linkedinBtn{
    background: #0094BC;
}

.linkedinBtn:before{
      font-family: "FontAwesome";
      content: "\f0e1"; /* add linkedin icon */
}

.linkedinBtn:hover{
      color: #0094BC;
      background: #fff;
}


.instagramBtn{
    background-image: linear-gradient(#2c0466, yellow, red);
}

.instagramBtn:before{
      font-family: "FontAwesome";
      content: "\f16d"; /* add instagram icon */
}

.instagramBtn:hover{
      color: saddlebrown;
      background: #fff;
}